# Dependencias
node_modules/
dist/

# Variables de Entorno (El usuario quiere subir el .env)
# .env
# .env.local

# IDEs y Editores
.vscode/
.idea/
*.sublime-workspace

# Sistema
Thumbs.db
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular
.angular/
.cache/

# Multimedia
# Forzamos la inclusión de la carpeta de archivos y el SQL
!/Backend/archivos/
!/Backend/*.sql
!/Backend/.env
