# Dependencias
node_modules/
dist/

# Variables de Entorno
# .env (Permitido por el usuario)
#.env

.env.local

# IDEs y Editores
.vscode/
.idea/
*.sublime-workspace

# Sistema
Thumbs.db
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular
.angular/
.cache/

# Multimedia (Opcional - si no se quieren versionar las subidas locales)
# Mantenemos .gitkeep o estructura básica si es necesario, pero ignoramos el contenido
/Backend/archivos/*
!/Backend/archivos/.gitkeep
