# Dependencias
node_modules/
dist/

# Entorno
# .env (Permitido por el usuario)
# .env

# Archivos de subida (local)
# Se permiten subir archivos de ejemplo al repo
# archivos/*
# !archivos/.gitkeep

# Logs
*.log
