<div class="pagina-inicio">
    <div class="seccion-tops" style="padding-top: 100px;">
        <h2 class="titulo-principal-tops" style="text-transform: uppercase;">Resultados para: {{ terminoBusqueda }}</h2>

        <div class="grid-sonidos-categoria"
            style="display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); gap: 20px; padding: 20px;">
            <app-sound-card *ngFor="let sonido of listaSonidos" [sonido]="sonido"></app-sound-card>
        </div>

        <div *ngIf="listaSonidos.length === 0" style="text-align: center; color: white;">
            <p>No se encontraron sonidos con ese nombre.</p>
        </div>
    </div>
</div>